mat-card{
    width: 300px;
    margin:5px;
}
mat-card-tile{
    padding-top: 5px;
    margin-left: -10px;
    text-align: center;
    max-height: min-content;
    max-width: min-content;
}
img{
    width:200px;
    height:200px;
    margin-left: 38px;
}
button{
    width: 130px;
}
@media screen and (max-width: 800px) {
   mat-card-tile{
       width: 200px;
       min-height: 250px;
   }
   img{
       height: 50px;
       width: 50px;
   }
   button{
       width: 150px;
       font-size: 10px;
   }
}

a:hover{
    cursor:pointer;
}