button{
    margin:5px;
    width: 150px;
    float: right;
}
mat-form-field{

    width: 400px;
    margin:10px
}
mat-radio-button {
    margin: 20px;
}
mat-checkbox{
    margin: 20px;
}
.formfield{
height:70%;
align-self: center;
margin-left: 10px;
}