mat-icon{
    margin: 2px;
    vertical-align:middle;
}
mat-list-item{
    width:180px;
}
mat-sidenav-container{
    height: 100%;
}
mat-sidenav,mat-sidenav-content
{
    padding: 11px;
}
mat-sidenav{
    background-color: rgb(170, 153, 216);
    width: 180px;
}
mat-nav-list{
    padding-left: 2rem;
}
a{
    font-style: normal;
    text-decoration: none;
    color: inherit;
}
mat-list-item:hover{
    color: rgb(2, 19, 13);
    font-size: 15px;
    border: 2px solid black;
    background-color: cornsilk;
    font-weight: 800;
    border-radius: 50%;
    text-align: center;
}
mat-icon{
    margin: 2px;
    vertical-align:middle;
}
mat-list-item{
    width:180px;
}

mat-sidenav-container{
    height: 100%;
}
mat-sidenav,mat-sidenav-content
{
    padding: 11px;
}
mat-sidenav{
    background-color: rgb(170, 153, 216);
    width: 180px;
}
mat-nav-list{
    padding-left: 2rem;
}
a{
    font-style: normal;
    text-decoration: none;
    color: inherit;
}
mat-list-item:hover{
    color: rgb(2, 19, 13);
    font-size: 15px;
    border: 2px solid black;
    background-color: cornsilk;
    font-weight: 800;
}
.useracton{
    padding-left: 300px;
}
@media screen and (max-width: 800px) {
    mat-sidenav {
        display: none;
    }
    #togglebtn{
        display: none;
    }
 }
